* {
    background-color: #e2eafc;
}

.cell {
    /*  background-color: #abc4ff; */
    background-color: rgb(184, 192, 255);
    margin-bottom: 60px;
    cursor: pointer;
}

tr,
td {
    border: 1px solid black;
    width: 180px;
    height: 180px;
    text-align: center;
    font-size: 30px;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    height: 89%;
    width: 100%;

}

div.container-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.board {

    margin: 50px 0 25px 0;
}

#turn {
    color: blueviolet;
    text-align: center;
    padding: 15px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

#winner {
    color: blueviolet;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

.reset-btn {
    background-color: #c1c5e2;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-bottom: 2px #a1a5c8;
    animation: translation 5s ease-in-out forwards
}
@keyframes translation{

}

.reset-btn:hover {
    background-color: rgb(184, 192, 255);
    opacity: 0.6;
   /*  box-shadow: 0 0 4px #eb50ff4f; */
    box-shadow: 0px 5px 10px rgba(54, 60, 62, 0.5);
}

.reset-btn::after {
    content: "Reset";
    font-size: 1rem;
    font-weight: 600 lighter;
}